

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.left-space {
  flex: 1;
}

.right-space {
  flex: 1;
}

.real-content {
  display: flex;
  flex-direction: column;
  flex: 8;
}



.all-menu-content {
  min-height: 800px;
  border-radius: 10px;
}

.menu-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content-header {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {list-style-type:none;text-align: left;}
li span{width: 30%;}
li input{width: 60%;}

.wrap{
  width:550px;
  padding-top: 30px;
}
.wrap .button-wrap{
  padding-top: 40px;
}
.item{
  height: 30px;
}
label{
  width: 200px;
  display: inline-block;
  text-align: right;
  padding-right: 5px;
  font-weight: bold;
}
.top input{
  width:350px;
  border-radius: 5px;
  border-width: 1px;
}
.ant-picker{
  width:350px;
}
.top .item{margin-top: 15px; display: flex;}
#date,#time{
  width:100px;
}
.buttom{
  padding-top: 20px;
}

.ant-btn{
  border-radius: 15px;
}